.container {
  display: flex;
  justify-content: center;

  height: 100vh;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  margin-top: 5px !important;
  text-align: center;
  font-size: 5rem !important;
}
